/* Fonts */

h1, h2, li.logo, .arrow, textarea, .button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

*:not(.toolContainerInner):not(.mainWrap):not(main){
    transition: all 200ms;
}

p, li:not(.logo){
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

::selection{
    background-color: rgba(0,0,0,0.2);
}

::-moz-selection{
    background-color: rgba(0,0,0,0.2);
}

/* Margins */

* {
    margin: 0;
}

main{
    margin: 120px 5% 0 5%;
}

.mainWrap{
    display: flex;
    flex-direction: row;
    width: 200vw;
}

body{
    overflow-x: hidden;
}

.home, .info{
    width: 100vw;
}

a, li:not(.logo){
    text-decoration: none;
    color: black;
    transition: 200ms color;
    cursor: pointer;
}

a.internal{
    color: #ff3333;
}

a.external{
    color: #80b3ff;
}

a:hover, li:not(.logo):hover{
    color: #D81B60;
}

a:active { outline: 0; }  
a:focus{ -moz-outline-style: none; }

textarea:focus, input:focus{
    outline: none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 1%;
    border-radius: 10px;
    width: 90%;
    top: 10px;
    background-color: rgba(240, 240, 240, 0.93);
    border-bottom: 2px solid grey;
}

ul.components{
    padding: 0;
}

li{
    list-style-type: none;
    cursor: pointer;
    flex-grow: 0.1;
}

li:not(.logo){
    flex-grow: 2;
    font-size: 16px;
    text-transform: uppercase;
}

.logo{
    font-size: 30px;
}

.button{
    border: 3px solid #D81B60;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 100px;
    margin: 1% 0;
    color: #D81B60;
    transition: 200ms background-color, 200ms color;
    cursor: pointer;
}

.button:hover{
    background-color: #D81B60;
    color: white;
}

.middleBox, .rightBox{
    margin-left: 2%;
}

.rightBox a:focus{
    outline: 0;
}

.middleBox{
    align-self: flex-end;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-grow: 18;
}

.externalLogo img{
    width: 40px;
    position: relative;
    margin-left: -63px;
    margin-right: 25px;
    margin-bottom: 5px;
    opacity: 0.5;
    z-index: 1;
}

.flexGrow{
    flex-grow: 100;
}

.toolContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    padding: 1%;
    border-bottom: 5px solid black;
}

.arrow{
    font-size: 30px;
    cursor: pointer;
    transition: transform 200ms;
    transform: rotateX(0deg);
}

.arrow.upsidedown {
    transform: rotateX(180deg);
}

.toolContainerInner{
    background-color: rgba(0,0,0,0.02);
    overflow-y: auto;
    height: 0;
}

.toolContainerInner .converter{
    margin: 1% 1% 0 1%;
}

textarea{
    color: black;
    margin-top: 1%;
    width: 100%;
    line-height: 20px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid black;
    resize: none;
    transition: 200ms border-color;
}

textarea:focus, textarea:hover{
    border-color:#D81B60;
}

textarea.output{
    border: none;
    background-color: rgba(0,0,0,0.02);
    resize: vertical;
}